#grid-comic {
    display:grid;
    width: 45%;
    margin: auto; /* Marge que deixam separacio dels costats */
    grid-template-columns: auto auto auto auto; /* Nombre de Columnes */
    grid-column-gap:20px; /* Separacio horizontal entre Columnes */
    grid-row-gap: 20px; /* Separacio vertical entre Columnes */
}

#grid-comic img {
    width:224px; /* Tamany images */
}

#grid-comic div {
    background-color: aqua; /* Color de fondu dels "div's" */
}

#grid-title {

    grid-column: 1 / span 4;
    grid-row: 1;
    text-align: center;
}